<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/score.css">
    <title>Document</title>
</head>
<body>
    <div class="div1">
        <h1><%=name%>, your score is</h1>
    </div>
    <div class="div2">
        <h1><%=value%></h1>
    </div>
    <input type="button" value="leaderboard" onclick="clickSound();setTimeout(leaderboard,2000)" class="btn">
    <script>
        function leaderboard(){
            window.location.href = "/leaderboard"
        }
        var clicker = new Audio("/clicksound.wav")
        function clickSound(){
            clicker.play()
        }
    </script>
</body>
</html>